<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>
  <form action="/madlib">
    <label>Type in a person's name:</label><br>
    <input type="text" name="person"></input><br>
    <label>Pick a color:</label><br>
    <select name="color">
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="indigo">Indigo</option>
        <option value="violet">Violet</option>
    </select><br>
    <label>Type in a noun:</label><br>
    <input type="text" name="noun"></input><br>
    <label>Type in an adjective:</label><br>
    <input type="text" name="adjective"></input><br>
    <input type="submit">
  </form>
</body>
</html>